[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
botocore = "*"
"boto3" = "*"
warrant = "*"
click-spinner = "*"
gitpython = "*"
termcolor = "*"
prettytable = "*"
haikunator = "*"
awslogs = "*"
aws-xray-sdk = "*"
pyyaml = "*"
yamale = "*"
gurum-cli = {editable = true,path = "."}

[dev-packages]
pylint = "*"
pep8 = "*"
tox = "*"

[requires]
python_version = "3.7"
