[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
botocore = "*"
"boto3" = "*"
warrant = "*"
click-spinner = "*"
tox-pipenv = "*"
gitpython = "*"
termcolor = "*"
prettytable = "*"
pylint = "*"
haikunator = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
